
aside{
    padding: 20%;
}

body{
    margin: 0%;
    gap: 50px;
}

.div-id{
    background-color: rgb(24, 61, 184);
}

.divider{
    height: 2px;
    flex: 1 0 0;
    background: rgba(102, 102, 102, 0.25);
}

.frame{
    padding: 40px 56px;


    border-radius: 24px;
    border: 1px solid rgba(102, 102, 102, 0.50);
}

.frame-formulaire{
    padding: 60px 56px;


    border-radius: 24px;
    border: 1px solid rgba(102, 102, 102, 0.50);
}


.H-font{
    color: #333;
    text-align: center;
    @font-face {
        font-family: "Poppins Black", Poppins-Black;
        src: local("Poppins-Black"), local("Poppins Black"),
          url("asset\fonts\Poppins-Black.ttf");
        }
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    
.P-font{
    color: #666;
    text-align: center;
    @font-face {
        font-family: "Poppins Black", Poppins-Black;
        src: local("Poppins-Black"), local("Poppins Black"),
        url("asset\fonts\Poppins-Black.ttf");
    }
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button-H{
    @font-face {
        font-family: "Poppins Black", Poppins-Black;
        src: local("Poppins-Black"), local("Poppins Black"),
            url("asset\fonts\Poppins-Black.ttf");
        }
    color: #333;
    font-family: Poppins;
    font-weight: 500;
}

.divider-H{
    height: 20px;
}

.divider-P{
    color: #333;
    font-family: Poppins;
    font-weight: 500;
}


.input-width{
    height: 56px;
    border-radius: 12px;
    border: 1px solid rgba(102, 102, 102, 0.35);
}

.log-button{
    border-radius: 40px;
    opacity: 0.25;
    background: #111;
}

.btn-create{
    border-radius: 40px;
    border: 1px solid #111;
}

footer{
    border-top: #666 3px;
}

.cost{
    background-color: #CCFFFF !important;
}

.cost-info{
    margin-left: 20%;
}

.table-content{
    border-collapse: collapse;
    margin: 25px 0px;
    font-size: 0.9em;
    min-width: 400px;
}

.dominant-color{
    background-color: #CCFFCC;
    padding: 5px;
}

.table-content td{
    background-color: #CCFFCC;
    text-align: left;
}

.table-content th,
.table-content td{
    padding: 25px 15px;
}

.complet-space{
    width: 100px;
    height: 40px;
}

.sign-space{
    width: 400px;
    height: 80px;
}

.association-space{
    background-color: #FF99CC;
    width: 600px;
    height: 130px;
    margin-bottom: 10%;
}